# aws-cli
.aws/credentials
# cargo
.cargo/.crates.toml
.cargo/.crates2.json
.cargo/.package-cache
.cargo/bin
.cargo/registry
# configstore
.config/configstore
# dconf
.config/dconf
# discord
.config/discord
# pulse
.config/pulse
# teams
.config/Microsoft/Microsoft Teams
.config/autostart/teams.desktop
.config/mimeapps.list
.config/teams/CS_skylib
.config/teams/SkypeRT
